body{
background-color: aqua;
}
h1{
    color:brown;
    background-color:rgb(246, 243, 238);
     font-size: 40px
    }
#show_sketch{
    float: right;
}
#score{
    font-size:40px;
    color: rgb(199, 33, 130);
    margin-left: 75px;
    }
#time{
font-size:40px;
color:blueviolet;
float: right;
margin-right: 110px;
}
#sketch_name{
color:rgb(200, 17, 182);
font-size:30px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example
{
from {box-shadow: 1px 1px 38px grey;}
to {box-shadow: 1px 1px 38px white;}
}
p,span{
padding-top: 10px;
font-family: "Special Elite", fantasy;
font-size: 25px;
}